.loader {
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 1;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--primary-color);
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: 10vw;

        @media (min-width: 992px) {
            font-size: 5vw;
        }
    }
}
