#text-anim {
	color: var(--accent-color);
	width: 100%;
	height: 100%;
	line-height: 10vh;
	font-size: 5vw;
	text-align: center;
	> ul {
		padding-bottom: 10vw;
	}
}

@media (min-width: 992px) {
	#text-anim {
		line-height: 20vh;
	}
}
