.progress-info {
    position: fixed;
    bottom: 0;
    font-size: 20vw;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
  
    > .progress-info-fill,
    > .progress-info-fill-2 {
      position: relative;
      width: auto;
      -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
      background-clip: text;
      -webkit-background-clip: text;
      background-repeat: no-repeat;
      background-image: linear-gradient(#000, #000);
      background-size: 0% 100%;
    }
  
    > .progress-info-fill-2 {
      position: absolute;
      top: 0px;
      left: auto;
      background-size: 100% 100%;
      background-position: right;
      right: auto;
      margin: auto;
      width: auto;
      display: block;
    }
  
    > .progress-info-fill {
      -webkit-text-fill-color: rgba(0, 0, 0, 0.1);
      background-image: linear-gradient(var(--accent-color), var(--accent-color));
    }
  
    > .progress-info-fill-2 {
      -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
      background-image: linear-gradient(var(--primary-color), var(--primary-color));
    }
  }

  @media (min-width: 992px) {
    .progress-info {
      font-size: 5vw;
    }
  }
  