$color_1: var(--accent-color);
$color_2: transparent;
$color_3: var(--primary-color);
$background-color_1: rgba(33, 33, 33, 0.9);

.wrapper-content {
	display: flex;
}
.demo-gallery {
	margin-right: 25vw;
	margin-left: 25vw;
	&:not(.last) {
		padding-bottom: 1rem;
	}
}
.demo-gallery.gallery-type-1 {
	ul {
		li {
			text-align: center;
			text-align: center;
			a {
				position: relative;
				display: inline-block;
				position: relative;
				display: inline-block;
				video {
					border: 20px solid var(--accent-color);
					border: 20px solid var(--accent-color);
				}
				img {
					border: 20px solid var(--accent-color);
					border: 20px solid var(--accent-color);
				}
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $background-color_1;
					opacity: 0;
					transition: opacity 0.3s ease;
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: $background-color_1;
					opacity: 0;
					transition: opacity 0.3s ease;
				}
				&:hover {
					&::before {
						content: attr(data-modal-title);
						position: absolute;
						padding-top: 1rem;
						font-weight: bold;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						font-size: 1.5rem;
						color: $color_1;
						opacity: 1;
						transition: opacity 0.3s ease;
						text-align: center;
						content: attr(data-modal-title);
						position: absolute;
						padding-top: 1rem;
						font-weight: bold;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						font-size: 1.5rem;
						color: $color_1;
						opacity: 1;
						transition: opacity 0.3s ease;
						text-align: center;
					}
					&::after {
						opacity: 1;
						padding: 1rem;
						backdrop-filter: blur(10px);
						opacity: 1;
						padding: 1rem;
						backdrop-filter: blur(10px);
					}
				}
				&::after {
					content: attr(data-modal-content);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 1rem;
					color: $color_1;
					opacity: 0;
					transition: opacity 0.3s ease;
					text-align: justify;
					white-space: pre-line;
					content: attr(data-modal-content);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: 1rem;
					color: $color_1;
					opacity: 0;
					transition: opacity 0.3s ease;
					text-align: justify;
					white-space: pre-line;
				}
			}
		}
	}
}
.demo-text {
	.text {
		white-space: nowrap;
		text-transform: uppercase;
		font-size: 15vw;
		font-weight: 700;
		color: $color_2;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke: 2px var(--primary-color);
		width: 100%;
		text-align: center;
		display: block;
	}
}
.gallery-type-1 {
	li {
		position: relative;
		flex-shrink: 0;
		width: 50vw;
	}
	img {
		width: 45vw;
		height: 50vh;
		object-fit: cover;
		border-radius: 5px;
		z-index: -1;
		background: var(--primary-color);
	}
	video {
		width: 45vw;
		height: 50vh;
		object-fit: cover;
		border-radius: 5px;
		z-index: -1;
		background: var(--primary-color);
	}
}
.other-creations {
	div  {
		position: relative;
		height: 50vh;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		
		h3 {
			white-space: nowrap;
			text-transform: uppercase;
			font-weight: 700;
			color: $color_2;
			-webkit-font-smoothing: antialiased;
			width: 100%;
			text-align: center;
			display: block;
			font-size: 8vw;
			-webkit-text-stroke: 1px var(--primary-color);
		}
		a {
			white-space: nowrap;
			text-transform: uppercase;
			font-weight: 700;
			color: $color_2;
			-webkit-font-smoothing: antialiased;
			width: 100%;
			text-align: center;
			display: block;
			font-size: 7vw;
			-webkit-text-stroke: 1px var(--primary-color);
			position: absolute;
			text-decoration: none;
			&:hover {
				color: $color_3;
			}
			.dates {
				display: block;
				font-size: 6vw;
			}
			.project-link {
				display: block;
				font-size: 4vw;
			}
		}
		.description {
			width: 100%;
			display: block;
			font-size: 3vw;
		}
	}
}
.bg-empty{
    height: 10vh;
}
.bg-cmachance {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	background-image: url("../../../assets/img/work/cmachance/1.png");
}
.bg-cmahdf {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	background-image: url("../../../assets/img/work/cmahdf/1.png");
}
.bg-reveleTonDestin {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	background-image: url("../../../assets/img/work/reveletoi/1.png");
}
.bg-taxeApprentissage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	background-image: url("../../../assets/img/work/taxe-apprentissage/1.png");
}
@media (min-width: 992px) {
	.demo-text .text {
		font-size: 12vw;
	}
	.other-creations {
		div {
			a {
				font-size: 5vw;
				.dates {
					display: block;
					font-size: 4vw;
				}
				.project-link {
					display: block;
					font-size: 3vw;
				}
			}
		}
	}
}
