

.wrapper-content {
	display: flex;
}

.demo-gallery {
	margin-right: 25vw;
	margin-left: 25vw;
}

.demo-gallery:not(.last) {
	padding-bottom: 1rem;
}

.demo-gallery.gallery-type-1 ul li {
	text-align: center;
}

/* Styles pour la superposition au survol */
.demo-gallery.gallery-type-1 ul li a {
	position: relative;
	display: inline-block;
}

.demo-gallery.gallery-type-1 ul li a video,
.demo-gallery.gallery-type-1 ul li a img {
	border: 20px solid var(--accent-color);

}


.demo-gallery.gallery-type-1 ul li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 33, 33, 0.9);
	opacity: 0;
	/* Caché par défaut */
	transition: opacity 0.3s ease;
}

.demo-gallery.gallery-type-1 ul li a:hover::before {
	content: attr(data-modal-title);
	/* Remplace le contenu par la valeur de l'attribut data-modal-title */
	position: absolute;
	padding-top: 1rem;
	font-weight: bold;
	top: 50%;
	/* Ajuste cette valeur pour déplacer le titre vers le bas */
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5rem;
	color: var(--accent-color);
	opacity: 1;
	/* backdrop-filter: blur(10px);  */
	transition: opacity 0.3s ease;
	text-align: center;

}

.demo-gallery.gallery-type-1 ul li a::after {
	content: attr(data-modal-content);
	/* Remplace le contenu par la valeur de l'attribut data-modal-title */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	color: var(--accent-color);
	opacity: 0;
	/* Caché par défaut */
	transition: opacity 0.3s ease;
	text-align: justify;
	white-space: pre-line;
	/* Interprète les sauts de ligne et les espaces multiples */

}


.demo-gallery.gallery-type-1 ul li a:hover::after {
	opacity: 1;
	/* Affiche le texte au survol */
	padding: 1rem;
	backdrop-filter: blur(10px);
	/* Effet de flou */
}

.demo-text .text {
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 15vw;
	font-weight: 700;
	color: transparent;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 2px var(--accent-color);
	width: 100%;
	text-align: center;
	display: block;
}

.gallery-type-1 li {
	position: relative;
	flex-shrink: 0;
	width: 50vw;
}

.gallery-type-1 img,
.gallery-type-1 video {
	width: 45vw;
	height: 50vh;
	object-fit: cover;
	border-radius: 5px;
	z-index: -1;
	background: var(--primary-color);
}

.demo-gallery.gallery-type-1 ul li {
	text-align: center;
}

/* Styles pour la superposition au survol */
.demo-gallery.gallery-type-1 ul li a {
	position: relative;
	display: inline-block;
}

.demo-gallery.gallery-type-1 ul li a video,
.demo-gallery.gallery-type-1 ul li a img {
	border: 20px solid var(--accent-color);

}


.demo-gallery.gallery-type-1 ul li a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 33, 33, 0.9);
	opacity: 0;
	/* Caché par défaut */
	transition: opacity 0.3s ease;
}

.demo-gallery.gallery-type-1 ul li a:hover::before {
	content: attr(data-modal-title);
	/* Remplace le contenu par la valeur de l'attribut data-modal-title */
	position: absolute;
	padding-top: 1rem;
	font-weight: bold;
	top: 50%;
	/* Ajuste cette valeur pour déplacer le titre vers le bas */
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.5rem;
	color: var(--accent-color);
	opacity: 1;
	/* backdrop-filter: blur(10px);  */
	transition: opacity 0.3s ease;
	text-align: center;

}

.demo-gallery.gallery-type-1 ul li a::after {
	content: attr(data-modal-content);
	/* Remplace le contenu par la valeur de l'attribut data-modal-title */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1rem;
	color: var(--accent-color);
	opacity: 0;
	/* Caché par défaut */
	transition: opacity 0.3s ease;
	text-align: justify;
	white-space: pre-line;
	/* Interprète les sauts de ligne et les espaces multiples */

}


.demo-gallery.gallery-type-1 ul li a:hover::after {
	opacity: 1;
	/* Affiche le texte au survol */
	padding: 1rem;
	backdrop-filter: blur(10px);
	/* Effet de flou */
}

.other-creations div {
	position: relative;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.other-creations div .bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
}


.bg-cmachance {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	background-image: url("../../../assets/img/work/cmachance/1.png");
}

.bg-cmahdf {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	background-image: url("../../../assets/img/work/cmahdf/1.png");
}

.bg-reveleTonDestin {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	background-image: url("../../../assets/img/work/reveletoi/1.png");
}

.bg-taxeApprentissage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: center;
	background-image: url("../../../assets/img/work/taxe-apprentissage/1.png");
}

.other-creations div h3,
.other-creations div a {
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 700;
	color: transparent;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	text-align: center;
	display: block;
}

.other-creations div h3 {
	font-size: 8vw;
	-webkit-text-stroke: 1px var(--primary-color);
}

.other-creations div a {
	font-size: 7vw;
	-webkit-text-stroke: 1px var(--primary-color);
	position: absolute;
	text-decoration: none;
}

.other-creations div a:hover {
	color: var(--primary-color);
}

.other-creations div a .dates {
	display: block;
	font-size: 6vw;
}

.other-creations div a .project-link {
	display: block;
	font-size: 4vw;
}

.other-creations div .description {
	width: 100%;
	display: block;
	font-size: 3vw;
}

@media (min-width: 992px) {
	.other-creations div a {
		font-size: 5vw;
	}

	.other-creations div a .dates {
		display: block;
		font-size: 4vw;
	}

	.other-creations div a .project-link {
		display: block;
		font-size: 3vw;
	}
}
