:root {
	--font-size: 16px;
	--font-size-small: 14px;
	--primary-color: #212121;
	--accent-color: #c3d1d8;
  font-family: "Bodoni Moda", serif;
}

.skew {
	clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	background: var(--accent-color);
	color: var(--primary-color)
}
body {
	background-color: var(--accent-color);
	overflow-x: hidden;
	width: 100vw;
}
ul {
	list-style: none;
}
main {
	margin-top: 100vh;
}

button,
button::after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
	cursor: pointer;
	background: none;
	border: 3px solid var(--primary-color);
	border-radius: 5px;
	color: var(--primary-color);
	display: block;
	font-size: 1.6em;
	font-weight: bold;
	padding: 2em 6em;
	position: relative;
	text-transform: uppercase;
}

button::before,
button::after {
	background: var(--primary-color);
	content: '';
	position: absolute;
	z-index: -1;
}

button:hover {
	color: var(--accent-color);
}

#cursor {
	position: absolute;
	width: 20px;
	height: 20px;
	background: white;
	border-radius: 50%;
	mix-blend-mode: difference;
	pointer-events: none;
	transition: transform .15s ease-in-out;
  }

  .fancybox__slide.has-image>.fancybox__content {
	height: 100%!important;
	width: 100%!important;
  }