:root {
	--font-size: 16px;
	--font-size-small: 14px;
	--primary-color: #212121;
	--accent-color: #c3d1d8;
  font-family: "Bodoni Moda", serif;
}

.skew {
	clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

:any-link {
	color: var(--primary-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection {
	background: var(--accent-color);
	color: var(--primary-color)
}

ul {
	list-style: none;
}
main {
	margin-top: 100vh;
}